@model Account

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout_2.cshtml";
}

<style>
    .login-block {
        background: #DE6262; /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        float: left;
        width: 100%;
        padding: 50px 0;
    }

    .banner-sec {
        background-size: cover;
        min-height: 500px;
        border-radius: 0 10px 10px 0;
        padding: 0;
    }

    .container123 {
        background: #fff;
        border-radius: 20px;
        box-shadow: 15px 20px 0px rgba(0,0,0,0.1);
    }

    .login-sec {
        padding: 50px 30px;
        position: relative;
    }

        .login-sec .copy-text {
            position: absolute;
            width: 80%;
            bottom: 20px;
            font-size: 13px;
            text-align: center;
        }

            .login-sec .copy-text i {
                color: #FEB58A;
            }

            .login-sec .copy-text a {
                color: #E36262;
            }

        .login-sec h2 {
            margin-bottom: 30px;
            font-weight: 800;
            font-size: 30px;
            color: #DE6262;
        }

            .login-sec h2:after {
                content: " ";
                width: 100px;
                height: 5px;
                background: #FEB58A;
                display: block;
                margin-top: 20px;
                border-radius: 3px;
                margin-left: auto;
                margin-right: auto;
            }

    .btn-login {
        background: #DE6262;
        color: #fff;
        font-weight: 600;
    }

    .banner-text {
        width: 70%;
        position: absolute;
        bottom: 40px;
        padding-left: 20px;
    }

        .banner-text h2 {
            color: #fff;
            font-weight: 600;
        }

            .banner-text h2:after {
                content: " ";
                width: 100px;
                height: 5px;
                background: #FFF;
                display: block;
                margin-top: 20px;
                border-radius: 3px;
            }

        .banner-text p {
            color: #fff;
        }
</style>
<link href="~/assets/newlayout/table/bootstrap.min.css" rel="stylesheet" />
    <script src="~/assets/jquery.validate.min.js"></script>
    <script type="text/javascript">


        //function check(){
        //    if ($('#txtUserName').val() == "" || $('#txtPassword').val() == "") {
        //        //alert("Thông tin đăng nhập không được để trống!!!");
        //        return;
        //    } else {
        //        document.frmMr.submit();
        //    }
        //}
        
    </script>
<input hidden id="mes" value="@ViewBag.Mes" />

<section id="content">
    <div class="container">
        <div class="row marginbot30">
            <div class="span12">
                <div class="row">
                    <div class="span12" style="width: 1300px;margin-left: -35px;">
                        <div class="wrapper">
                            <div class="testimonial">
                                <p class="text">

                                    <section class="login-block">
                                        <div class="container123">
                                            <div class="row">
                                                <div class="col-md-3 login-sec">
                                                    <h2 class="text-center" style="letter-spacing:0px;text-align:center">Đăng Nhập</h2>
                                                    @if (@ViewBag.Mes == 2)
                                                    {
                                                        <div class="alert alert-warning">
                                                            <strong>Tên đăng nhặp hoặc mật khẩu chưa đúng!</strong>
                                                        </div>
                                                    }
                                                    <form name=frmMr class="login-form" id="form_login" method="post" action="">
                                                        <div class="form-group" style="padding-top:  0.8em;">
                                                            <label for="txtUserName" class="text-uppercase" style="margin-bottom: -0.5px;">Tên đăng nhập</label>
                                                            <input required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Nhập tên đăng nhập ở đây')" type="text" class="form-control" id="txtUserName" style="height: 2.5em;width: 17em;" name="UserName" placeholder="Nhập tên đăng nhập" value="">
                                                        </div>
                                                        <div class="form-group" style="padding-top:  0.8em;">
                                                            <label for="txtPassword" class="text-uppercase" style="margin-bottom: -0.5px;">Mật khẩu</label>
                                                            <input required oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity('Nhập mật khẩu ở đây')" type="password" class="form-control" style="height: 2.5em;width: 17em;" id="txtPassword" name="PassWord" placeholder="Nhập mật khẩu">
                                                        </div>
                                                        <div class="form-group" style="padding-top: 0.8em;">
                                                            <button type="submit" style="background-color:white;height:50px" class="btn btn-login float-left">

                                                                Đăng nhập
                                                            </button>
                                                        </div>


                                                    </form>
                                                </div>
                                                <div class="col-md-8 banner-sec">
                                                    <img border-radius="20px" width="800" src="~/assets/imgs/family.jpg" />
                                                </div>
                                            </div>
                                    </section>


                                </p>
                                <div class="author">
                                    <img src="img/dummies/testimonial-author1.png" class="img-circle bordered" alt="" />
                                    <p class="name">
                                        Tom Shaun Dealova
                                        456
                                    </p>
                                    <span class="info">MBC Entertainment, <a href="#">www.sitename.com</a></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


