@model Account

@*@{
        ViewBag.Title = "Register";
    }*@
@section js{
    <script src="~/assets/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $("#form_register").validate({
            rules: {
                UserName: {
                    required: true,
                },
                PassWord: {
                    required: true,
                    minlength: 1,
                },
                CPassWord: {
                    required: true,
                    equalTo: "#txtPassWord",
                }
            },
            messages: {
                UserName: {
                    required: "Chỗ này không được để trống.",
                },
                PassWord: {
                    required: "Chỗ này không được để trống.",
                    minlength: "Mật khẩu ít nhất 6 ký tự",
                },
                CPassWord: {
                    required: "Chỗ này không được để trống.",
                    equalTo: "Mật khẩu không khớp"
                },
            },
            errorelement: 'italic',
            errorClass: 'help-block',
            highlight: function (element, errorClass, validClass) {
                $(element).addClass(errorClass).removeClass(validClass);
                $(element).closest('.form-group')
                  .addClass('has-error');
            },
            //success: function (label) {
            //    $(label).closest('.form-group')
            //      .removeClass('has-error').addClass('has-success');
            //    label.remove;
            //}
        });
    </script>
}
<h2>Register</h2>

@*@if (ViewBag.Error == false)
    {
        <div class="alert alert-success" role="alert">Đăng ký thành công</div>
    }*@
<form class="form-horizontal" method="post" action="" id="form_register">
    <div class="form-group">
        <label for="txtUserName" class="col-sm-3 control-label">Tên đăng nhập</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="txtUserName" name="UserName" placeholder="Tên đăng nhập " value="" />
        </div>
    </div>
    <div class="form-group">
        <label for="txtPassWord" class="col-sm-3 control-label">Mật khẩu</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="txtPassWord" name="PassWord" placeholder="Nhập mật khẩu" />
        </div>
    </div>
    <div class="form-group">
        <label for="txtCPassWord" class="col-sm-3 control-label">Nhập lại mật khẩu</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="txtCPassWord" name="CPassWord" placeholder="Nhập lại mật khẩu" />
            <span id="re_password_error"></span>
        </div>
    </div>
    @*<div class="form-group">
            <label for="txtEmail" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="txtEmail" name="Email" placeholder="dakunchan@gmail.com" value="" />
            </div>
        </div>*@
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success" name="register" id="register">
                <i class="fa fa-check"></i>
                Đăng ký
            </button>
        </div>
    </div>
</form>