@model Member
@{
    ViewBag.Title = "CreateCGP";
}
<script src="~/assets/Library/jquery.min.js"></script>
<script src="~/assets/Library/kendo.all.min.js"></script>
<script src="~/assets/CGP.js"></script>
@*
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>*@
@*
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>*@
@*<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
        rel="stylesheet" type="text/css" />*@
<link href="~/assets/css/simple-sidebar.css" rel="stylesheet" />
    <input id="TreeID" value="@ViewBag.Id" hidden />
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper" style="background-color:#cac3c3">
            <ul class="sidebar-nav">
                @*<li class="sidebar-brand">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-success">Sửa</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-danger">Xóa</button>
                    </div>
                </li>*@

                <h1 style="text-align:center">Thông tin thành viên</h1>
                <table>
                    <tr id="trdOldID" hidden>
                        <td class="lablename">Thành viên củ</td>
                        <td>
                            <input id="OldID" class="" style="width: 280px" />
                        </td>
                    </tr>
                    <tr id="trdRelationship" hidden>
                        <td class="lablename">Loại quan hệ</td>
                        <td>
                            <input id="Relasionship" style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Ngày phát sinh</td>
                        <td>
                            <input id="CreateDate" style="width: 280px" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Họ và tên</td>
                        <td>
                            <input class="k-textbox" id="FullName" name="FullName" style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Giới tính</td>
                        <td>
                            <input id="Sex" name="" style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Ngày giờ sinh</td>
                        <td>
                            <input id="BirthDate" name="Birthday" style="width:280px" onchange="formatdatetime()" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Quê quán (id)</td>
                        <td>
                            <input id="BirthPlace" name="BirthPlaceId" style="width: 220px" />
                            <button type="button" id="btnBirthPlace" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Nghề nghiệp</td>
                        <td>
                            <input id="Job" name="Job" style="width: 220px" />
                            <button type="button" id="btnJob" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Nơi ở</td>
                        <td>
                            <input class="k-textbox" id="Address" name="AddressID" style="width: 220px" />
                            <button type="button" id="btnAddress" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                        </td>
                    </tr>
                    <tr id="tbDateOfDeath" hidden>
                        <td class="lablename">Ngày giờ mất</td>
                        <td>
                            <input id="DateOfDeath" name="DateOfDeath" style="width:280px" />
                        </td>
                    </tr>
                    <tr id="tbBurialPlace" hidden>
                        <td class="lablename">Nơi mất (id)</td>
                        <td>
                            <input id="BurialPlace" name="BurialPlaceId" style="width: 220px" />
                            <button type="button" id="btnDiePlace" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                        </td>
                    </tr>
                    <tr id="tbCauseOfDeath" hidden>
                        <td class="lablename">Nguyên nhân chết (id)</td>
                        <td>
                            <input id="CauseOfDeath" name="CauseOfDeath" style="width: 220px" />
                            <button type="button" id="btnCauseOfDeath" class="btn btn-primary center-block" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div type="button" id="AddMember" class="k-button" onclick="AddMemberNew()" style="width:100px">Thêm</div>
                            <div type="button" id="UpdateMember" class="k-button" onclick="UpdateMember()" >Cập Nhật</div>
                            <div type="button" id="ChangeStatus" class="k-button" onclick="ChangeAddMember()">Trở về thêm </div>
                        </td>
                    </tr>
                </table>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            @*<div id="diagram" class="container-fluid">
                <h1>Vẽ ở đây</h1>
            </div>*@
            <div id="megaStore">
                <ul id="menu">
                    <li>
                        Báo cáo
                        <ul>
                            <li onclick="ViewReport()">
                                Lập báo cáo năm
                                @*<ul>
                                <li>Tables & Chairs</li>
                                <li>Sofas</li>
                                <li>Occasional Furniture</li>
                                <li>Children's Furniture</li>
                                <li>Beds</li>
                            </ul>*@
                            </li>
                            @*<li>
                            Decor
                            <ul>
                                <li>Bed Linen</li>
                                <li>Throws</li>
                                <li>Curtains & Blinds</li>
                                <li>Rugs</li>
                                <li>Carpets</li>
                            </ul>
                        </li>
                        <li>
                            Storage
                            <ul>
                                <li>Wall Shelving</li>
                                <li>Kids Storage</li>
                                <li>Baskets</li>
                                <li>Multimedia Storage</li>
                                <li>Floor Shelving</li>
                                <li>Toilet Roll Holders</li>
                                <li>Storage Jars</li>
                                <li>Drawers</li>
                                <li>Boxes</li>
                            </ul>

                        </li>
                        <li>
                            Lights
                            <ul>
                                <li>Ceiling</li>
                                <li>Table</li>
                                <li>Floor</li>
                                <li>Shades</li>
                                <li>Wall Lights</li>
                                <li>Spotlights</li>
                                <li>Push Light</li>
                                <li>String Lights</li>
                            </ul>
                        </li>*@
                        </ul>
                    </li>
                    <li>
                        Thay đổi quy định
                        <ul>
                            <li>
                                <div id="template" style="padding: 10px;">
                                    <h2>Around the Globe</h2>
                                    <ol>
                                        <li>United States</li>
                                        <li>Europe</li>
                                        <li>Canada</li>
                                        <li>Australia</li>
                                    </ol>
                                    <img src="../content/web/menu/map.png" alt="Stores Around the Globe" />
                                    <button class="k-button">See full list</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Blog
                    </li>
                    <li>
                        Company
                    </li>
                    <li>
                        Events
                    </li>
                    <li disabled="disabled">
                        News
                    </li>
                </ul>
            </div><br/>













            <div id="example">
                <div class="demo-section k-content">
                    <div id="tabstrip">
                        <ul>
                            <li class="k-state-active">
                                Tab1
                            </li>
                            <li>
                                Tab2
                            </li>
                            <li>
                                Tab3
                            </li>
                        </ul>
                        <div>
                            <div id="Guid" class="container-fluid">
                                <h1>Danh Sách Thành Viên</h1>
                                <div id="GridTree">

                                </div>
                            </div>
                        </div>
                        <div>
                           Nội dung tab2
                        </div>
                        <div>
                            Nội dung tab3
                        </div>
                    </div>
                </div>


                <script>
                    $(document).ready(function () {
                        
                    });
                </script>
            </div>










        </div>
        <!-- /#page-content-wrapper -->

    </div>
<div id="dialogBirthPlace" style="display: none" align="center">
    Thêm quê quán
</div>
<div id="dialogJob" style="display: none" align="center">
    Thêm nghề nghiệp
</div>
<div id="dialogAddress" style="display: none" align="center">
    Thêm nơi ở
</div>
<div id="dialogDiePlace" style="display: none" align="center">
    Thêm nơi mất
</div>
<div id="dialogCauseOfDeath" style="display: none" align="center">
    Thêm nguyên nhân chết
</div>
@*
<script type="text/javascript">
    $('input[name="Gender"]').change(function () {

        var check = $('input[name="Gender"]:checked').val();
        if (check == "male") {
            $('#sex').val("M");
        }
        else {
            $('#sex').val("F");
        }
    });
    //Show dialog quê quán
    $("#dialogBirthPlace").dialog({
        modal: true,
        autoOpen: false,
        title: "Thêm quê quán",
        width: 500,
        height: 300
    });
    $("#btnBirthPlace").click(function () {
        $('#dialogBirthPlace').dialog('open');
    });
    //Show dialog nghề nghiệp
    $("#dialogJob").dialog({
        modal: true,
        autoOpen: false,
        title: "Thêm nghề nghiệp",
        width: 500,
        height: 300
    });
    $("#btnJob").click(function () {
        $('#dialogJob').dialog('open');
    });
    //Show dialog nơi ở
    $("#dialogAddress").dialog({
        modal: true,
        autoOpen: false,
        title: "Thêm nơi ở",
        width: 500,
        height: 300
    });
    $("#btnAddress").click(function () {
        $('#dialogAddress').dialog('open');
    });
    //Show dialog nơi mất
    $("#dialogDiePlace").dialog({
        modal: true,
        autoOpen: false,
        title: "Thêm nơi mất",
        width: 500,
        height: 300
    });
    $("#btnDiePlace").click(function () {
        $('#dialogDiePlace').dialog('open');
    });
    //Show dialog nguyên nhân chết
    $("#dialogCauseOfDeath").dialog({
        modal: true,
        autoOpen: false,
        title: "Thêm nguyên nhân chết",
        width: 500,
        height: 300
    });
    $("#btnCauseOfDeath").click(function () {
        $('#dialogCauseOfDeath').dialog('open');
    });
</script>*@

