
@{
    ViewBag.Title = "CreateCGP";
}
<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background-color:#008B8B;">
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control">
                        <option value="">Con</option>
                        <option value="">Chồng\</option>
                        <option value="">Vợ</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary">Thêm</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success">Sửa</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-danger">Xóa</button>
                </div>
            </div><br/>
            <div class="row text-center">
                <div class="col-sm-12">
                    <label> Thông tin thành viên </label>
                </div>
                <br/>
                <div class="col-sm-3">
                    <label> Họ tên </label>
                </div>
                <div class="col-sm-9">
                    <input />
                </div>

                <div class="col-sm-3">
                    <label> Họ tên </label>
                </div>
                <div class="col-sm-9">
                    <input />
                </div>

                <div class="col-sm-3">
                    <label> Họ tên </label>
                </div>
                <div class="col-sm-9">
                    <input />
                </div>

                <div class="col-sm-3">
                    <label> Họ tên </label>
                </div>
                <div class="col-sm-9">
                    <input />
                </div>

                <div class="col-sm-3">
                    <label> Họ tên </label>
                </div>
                <div class="col-sm-9">
                    <input />
                </div>
            </div>
        </div>

        @*Phần show cây*@
        <div class="col-sm-8" style="background-color:#8FBC8F;">
            <h1>Show cây ở đây</h1>
        </div>
    </div>
</div>