@model Member
@{
    ViewBag.Title = "CreateCGP";
}
<script src="~/assets/Library/jquery.min.js"></script>
<script src="~/assets/Library/kendo.all.min.js"></script>
<script src="~/assets/CGP.js"></script>
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>*@
@*<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>*@
@*<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
      rel="stylesheet" type="text/css" />*@
<link href="~/assets/css/simple-sidebar.css" rel="stylesheet" />
<form class="form-horizontal" action="" method="post" id="Form-Add">
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">

            <ul class="sidebar-nav">


                <li class="sidebar-brand">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-success">Sửa</button>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-danger">Xóa</button>
                    </div>
                </li>

                <h1 style="text-align:center">Thông tin thành viên</h1>
                <table>

                    <tr>
                        <td class="lablename">Thành viên củ</td>
                        <td>
                            <input class="k-textbox" style="width: 280px" disabled/>
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Loại quan hệ</td>
                        <td>
                            <input id="Relasionship" style="width: 280px" disabled/>
                        </td>
                    </tr>

                    @* Phát sinh thì tự động chứ nhỉ
                        <tr>
                        <td class="lablename">Ngày phát sinh</td>
                        <td>
                            <input id="CreateDate" style="width: 280px" />
                        </td>
                    </tr>*@
                    <tr>
                        <td class="lablename">Họ và tên</td>
                        <td>
                            <input class="k-textbox" id="tenn" name="FullName" style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Giới tính</td>
                        <td>
                            <input class="gender" type="radio" name="Gender" value="male" checked /> Nam
                            <input class="gender" type="radio" name="Gender" /> Nữ
                            <input type="hidden" name="Sex" id="sex" value="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Ngày giờ sinh</td>
                        <td>
                            <input id="BirthDate" name="Birthday" style="width:280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Quê quán (id)</td>
                        <td>
                            <input id="BirthPlace" name="BirthPlaceId" style="width: 220px" />
                            <button type="button" id="btnBirthPlace" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;" >Thêm</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Nghề nghiệp</td>
                        <td>
                            @*<input id="Job" name="Job" style="width: 280px" />*@
                            <input type="text" name="Job" style="width: 220px" />
                            <button type="button" id="btnJob" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Nơi ở</td>
                        <td>
                            <input id="Address" name="AddressID" style="width: 220px" />
                            <button type="button" id="btnAddress" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Ngày giờ mất</td>
                        <td>
                            <input class="BirthDate" name="DateOfDeath" style="width:280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Nơi mất (id)</td>
                        <td>
                            <input id="DiePlace" name="BurialPlaceId" style="width: 220px" disabled />
                            <button type="button" id="btnDiePlace" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Nguyên nhân chết (id)</td>
                        <td>
                            <input id="CauseOfDeath" name="CauseOfDeath" style="width: 220px" disabled />
                            <button type="button" id="btnCauseOfDeath" class="btn btn-primary center-block" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                        </td>
                    </tr>
                </table>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="diagram" class="container-fluid">
                <h1>Vẽ ở đây</h1>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
</form>
<div id="dialogBirthPlace" style="display: none" align="center">
    Thêm quê quán
</div>
<div id="dialogJob" style="display: none" align="center">
    Thêm nghề nghiệp
</div>
<div id="dialogAddress" style="display: none" align="center">
    Thêm nơi ở
</div>
<div id="dialogDiePlace" style="display: none" align="center">
    Thêm nơi mất
</div>
<div id="dialogCauseOfDeath" style="display: none" align="center">
    Thêm nguyên nhân chết
</div>
<!--<div class="container">
    <div class="row">
        <div class="col-sm-4" style="background-color:#0dbf3c;">
            <div class="row">
                <div class="col-sm-3">
                    <select class="form-control">
                        <option value="">Con</option>
                        <option value="">Chồng\</option>
                        <option value="">Vợ</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary">Thêm</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-success">Sửa</button>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-danger">Xóa</button>
                </div>
            </div><br/>
            <div class="row text-center">
                <h1 style="text-align:center">Thông tin thành viên</h1>
                <table>
                    <tr>
                        <td class="lablename">Thành viên củ</td>
                        <td>
                            <input class="k-textbox" style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Loại quan hệ</td>
                        <td>
                            <input id="Relasionship" style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Ngày phát sinh</td>
                        <td>
                            <input id="CreateDate" style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Họ và tên</td>
                        <td>
                            <input class="k-textbox" style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Giới tính</td>
                        <td>
                            <input style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Ngày giờ sinh</td>
                        <td>
                            <input id="BirthDate" style="width:280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Quê quán</td>
                        <td>
                            <input  style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Nghề nghiệp</td>
                        <td>
                            <input style="width: 280px" />
                        </td>
                    </tr>
                    <tr>
                        <td class="lablename">Địa chỉ</td>
                        <td>
                            <input style="width: 280px" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        @*Phần show cây*@
        <div class="col-sm-8" style="background-color:#8FBC8F;">
            <h1>Show cây ở đây</h1>
        </div>
    </div>
</div>
-->
<script type="text/javascript">
    $('input[name="Gender"]').change(function () {

        var check = $('input[name="Gender"]:checked').val();
        if (check == "male") {
            $('#sex').val("M");
        }
        else {
            $('#sex').val("F");
        }
    });
    //Show dialog quê quán
    $("#dialogBirthPlace").dialog({
        modal: true,
        autoOpen: false,
        title: "Thêm quê quán",
        width: 500,
        height: 300
    });
    $("#btnBirthPlace").click(function () {
        $('#dialogBirthPlace').dialog('open');
    });
    //Show dialog nghề nghiệp
    $("#dialogJob").dialog({
        modal: true,
        autoOpen: false,
        title: "Thêm nghề nghiệp",
        width: 500,
        height: 300
    });
    $("#btnJob").click(function () {
        $('#dialogJob').dialog('open');
    });
    //Show dialog nơi ở
    $("#dialogAddress").dialog({
        modal: true,
        autoOpen: false,
        title: "Thêm nơi ở",
        width: 500,
        height: 300
    });
    $("#btnAddress").click(function () {
        $('#dialogAddress').dialog('open');
    });
    //Show dialog nơi mất
    $("#dialogDiePlace").dialog({
        modal: true,
        autoOpen: false,
        title: "Thêm nơi mất",
        width: 500,
        height: 300
    });
    $("#btnDiePlace").click(function () {
        $('#dialogDiePlace').dialog('open');
    });
    //Show dialog nguyên nhân chết
    $("#dialogCauseOfDeath").dialog({
        modal: true,
        autoOpen: false,
        title: "Thêm nguyên nhân chết",
        width: 500,
        height: 300
    });
    $("#btnCauseOfDeath").click(function () {
        $('#dialogCauseOfDeath').dialog('open');
    });
</script>

