@model Member
@{
    ViewBag.Title = "CreateCGP";
}
<script src="~/assets/Library/jquery.min.js"></script>
<script src="~/assets/Library/kendo.all.min.js"></script>
<script src="~/assets/CGP.js"></script>
@*
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>*@
@*
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>*@
@*<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
    rel="stylesheet" type="text/css" />*@

@*<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.material.mobile.min.css" />*@

<script src="https://kendo.cdn.telerik.com/2018.1.221/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2018.1.221/js/kendo.all.min.js"></script>


<link href="~/assets/css/simple-sidebar.css" rel="stylesheet" />
<input id="TreeID" value="@ViewBag.Id" hidden />
<div id="wrapper" class="toggled">
    <div id="sidebar-wrapper" style="background-color:white; border: rgba(33,37,41,.125);padding: 1rem;border-radius: 1rem;">
        <ul class="sidebar-nav">

            <h1 style="text-align:center">Thông tin thành viên</h1>
            <table>
                <tr id="trdOldID" hidden>
                    <td class="lablename">Thành viên củ</td>
                    <td>
                        <input id="OldID" class="" style="width: 280px" />
                    </td>
                </tr>
                <tr id="trdRelationship" hidden>
                    <td class="lablename">Loại quan hệ</td>
                    <td>
                        <input id="Relasionship" style="width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td class="lablename">Ngày phát sinh</td>
                    <td>
                        <input id="CreateDate" style="width: 280px" readonly />
                    </td>
                </tr>
                <tr>
                    <td class="lablename">Họ và tên</td>
                    <td>
                        <input class="k-textbox" id="FullName" name="FullName" style="width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td class="lablename">Giới tính</td>
                    <td>
                        <input id="Sex" name="" style="width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td class="lablename">Ngày giờ sinh</td>
                    <td>
                        <input id="BirthDate" name="Birthday" style="width:280px" onchange="formatdatetime()" />
                    </td>
                </tr>
                <tr>
                    <td class="lablename">Nơi ở</td>
                    <td>
                        <input class="k-textbox" id="Address" name="AddressID" style="width: 280px" />
                    </td>
                </tr>
                <tr>
                    <td class="lablename">Quê quán</td>
                    <td>
                        <input id="BirthPlace" name="BirthPlaceId" style="width: 220px" />
                        <button type="button" id="btnBirthPlace" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                    </td>
                </tr>
                <tr>
                    <td class="lablename">Nghề nghiệp</td>
                    <td>
                        <input id="Job" name="Job" style="width: 220px" />
                        <button type="button" id="btnJob" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                    </td>
                </tr>
               
                <tr id="tbDateOfDeath" hidden>
                    <td class="lablename">Ngày giờ mất</td>
                    <td>
                        <input id="DateOfDeath" name="DateOfDeath" style="width:280px" />
                    </td>
                </tr>
                <tr id="tbBurialPlace" hidden>
                    <td class="lablename">Nơi mất (id)</td>
                    <td>
                        <input id="BurialPlace" name="BurialPlaceId" style="width: 220px" />
                        <button type="button" id="btnDiePlace" class="btn btn-primary" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                    </td>
                </tr>
                <tr id="tbCauseOfDeath" hidden>
                    <td class="lablename">Nguyên nhân chết (id)</td>
                    <td>
                        <input id="CauseOfDeath" name="CauseOfDeath" style="width: 220px" />
                        <button type="button" id="btnCauseOfDeath" class="btn btn-primary center-block" style="float:right;height:25px;width:50px;padding: 0px 0px;">Thêm</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div type="button" id="AddMember" class="k-button" onclick="AddMemberNew()" style="width:100px">Thêm</div>
                        <div type="button" id="UpdateMember" class="k-button" onclick="UpdateMember()">Cập Nhật</div>
                        <div type="button" id="ChangeStatus" class="k-button" onclick="ChangeAddMember()">Trở về thêm </div>
                    </td>
                </tr>
            </table>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        @*<div id="diagram" class="container-fluid">
                <h1>Vẽ ở đây</h1>
            </div>*@



        <div id="megaStore">
            <ul id="menu">
                <li>
                    Báo cáo
                    <ul>
                        <li class="clickMe">
                            Lập báo cáo năm
                        </li>

                    </ul>
                </li>
                <li>
                    Thay đổi quy định
                    <ul>
                        <li>Số lượng quê quán</li>
                        <li>Số lượng nghề nghiệp</li>
                        <li>Số lượng nghề nghiệp</li>
                        <li>Số lượng nghề nghiệp</li>
                    </ul>
                </li>
            </ul>
        </div><br />

        <div id="example">
            <div class="demo-section k-content">
                <div id="tabstrip">
                    <ul>
                        <li class="k-state-active">
                            Tab1
                        </li>
                        <li>
                            Tab2
                        </li>
                        <li>
                            Tab3
                        </li>
                    </ul>
                    <div>
                        <div id="Guid" class="container-fluid">
                            <h1>Danh Sách Thành Viên</h1>
                            <div id="GridTree">

                            </div>
                        </div>
                    </div>
                    <div>
                        Nội dung tab2
                    </div>
                    <div>
                        Nội dung tab3
                    </div>
                </div>
            </div>


            <script>
                $(document).ready(function () {
                    $("#dialogBirthPlace").kendoDialog({
                        width: 700,
                        height: 200,
                        title: "Thêm quê quán",
                        content: divContentbirthplace,
                        visible: false
                    }).data("kendoDialog");

                    var divContentbirthplace = $('#dialogBirthPlace').html();

                    $("#dialogJob").kendoDialog({
                        width: 700,
                        height: 200,
                        title: "Thêm nghề nghiệp",
                        content: divContentjob,
                        visible: false
                    }).data("kendoDialog");

                    var divContentjob = $('#dialogJob').html();
                                        
                    $("#btnBirthPlace").click(function () {

                        var dialog = $("#dialogBirthPlace").data("kendoDialog");
                        dialog.open();
                    });

                    $("#btnBirthPlace").click(function () {

                        var dialog = $("#dialog1").data("kendoDialog");
                        dialog.open();
                    });

                    $("#btnJob").click(function () {

                        var dialog = $("#dialogJob").data("kendoDialog");
                        dialog.open();
                    });

                    $("#btnAddJob").click(function () {

                        $.ajax({
                            async: false,
                            type: "post",
                            dataType: 'json',
                            url: '/CGP/AddJob',
                            data: { jobname: $('#txtjob').val() },
                            success: function (result) {
                                alert("Thành công");
                                LoadData($('#TreeID').val());
                                LoadDataTree();
                                $("#txtjob").val("");
                            },
                            error: function () {
                                alert("Thành thụ");
                            }
                        });
                    });

                    $("#btnAddBirthPlace").click(function () {
                        $.ajax({
                            async: false,
                            type: "post",
                            dataType: 'json',
                            url: '/CGP/AddBirthPlace',
                            data: { bpname: $('#txtbirthplace').val() },
                            success: function (result) {
                                alert("Thành công");
                                LoadData($('#TreeID').val());
                                LoadDataTree();
                                $("#txtbirthplace").val("");
                            },
                            error: function () {
                                alert("Thành thụ");
                            }
                        });
                    });
                });
            </script>
        </div>










    </div>
    <!-- /#page-content-wrapper -->

</div>



<div id="dialogJob">
    <table style="width: auto; height: auto; margin-left: auto; margin-right: auto;">
        <tbody>
            <tr style="height: auto;">
                <td style="height: auto; width: auto;"><p style="font-size:15px">Nghề nghiệp</p></td>
                <td style="height: auto; width: 300px;"><input id="txtjob" placeholder="nhập nghề nghiệp..." style="width: 300px;font-size:20px" /></td>
            </tr>
            <tr>
                <td style="height: auto; width: 100px;">&nbsp;</td>
                <td style="height: auto; width: 300px; padding-top:20px"> <button class="k-button btnAction" style="width: 100px;height:20px" id="btnAddJob">Thêm</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="dialogBirthPlace">
    <table style="width: auto; height: auto; margin-left: auto; margin-right: auto;">
        <tbody>
            <tr style="height: auto;">
                <td style="height: auto; width: auto;"><p style="font-size:15px">Quê quán</p></td>
                <td style="height: auto; width: 300px;"><input id="txtbirthplace" placeholder="nhập quê quán..." style="width: 300px;font-size:20px" /></td>
            </tr>
            <tr>
                <td style="height: auto; width: 100px;">&nbsp;</td>
                <td style="height: auto; width: 300px; padding-top:20px"> <button class="k-button btnAction" style="width: 100px;height:40px" id="btnAddBirthPlace">Thêm</button></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="dialogRuleBP">
    <table style="width: auto; height: auto; margin-left: auto; margin-right: auto;">
        <tbody>
            <tr style="height: auto;">
                <td style="height: auto; width: auto;"><p style="font-size:15px">Quê quán</p></td>
                <td style="height: auto; width: 300px;"><input id="txtbirthplace" placeholder="nhập quê quán..." style="width: 300px;font-size:20px" /></td>
            </tr>
            <tr>
                <td style="height: auto; width: 100px;">&nbsp;</td>
                <td style="height: auto; width: 300px; padding-top:20px"> <button class="k-button btnAction" style="width: 100px;height:40px" id="btnAddBirthPlace">Thêm</button></td>
            </tr>
        </tbody>
    </table>
</div>

