
@{
    ViewBag.Title = "Index";
}
<script src="~/assets/Library/jquery.min.js"></script>
<script src="~/assets/Library/kendo.all.min.js"></script>
<script src="~/assets/CGP.js"></script>
<div class="container">
    <div class="jumbotron text-center" style="background-color:#8FBC8F">
        <h1>Tạo cây gia tộc mới</h1>
        <input type="text" class="text-center" id="" placeholder="Tên cây gia tộc" /><br/><br/>
        <div class="center-block">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block">Tạo mới</button>
        </div>
    </div>
    <div class="jumbotron text-center" style="background-color:#8FBC8F">
        <h1>Danh sách gia tộc</h1>
        <div id="GridTree"></div>
    </div>
</div>

