
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/Library/jquery.min.js"></script>
<script src="~/assets/Library/kendo.all.min.js"></script>
<script src="~/assets/Report.js"></script>
<input id="TreeID" value="@ViewBag.Id" hidden />
<table>
    <tr>
        <td>
            
        </td>
        <td id="tdGridReportNumber" hidden>
            <div>
                <h1 style="text-align:center">Báo cáo Tăng Giảm Thanh Viên</h1>
                <div id="GridReportNumber">

                </div>
            </div>
        </td>
        <td id="tdGridReportTT" hidden>
            <h1 style="text-align:center">Báo cáo Thành Tích Các Thành Viên</h1>
            <div>
                <div id="GridReportTT">

                </div>
            </div>
        </td>
    </tr>
</table>